h1{
    text-align: center;
    color: blue;
}

#quizBtn{
    text-align: center;
    color: blue;
    align-items: center;
    display: inline-block;
}

#button{
    color: blue;
    border-color: blue;
    text-align: center;
    } 

.hide{
    display: none;
}

h2{
    color: black;
}

